@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contact-inputs {
    @apply border-2 rounded-sm dark:bg-transparent border-stone-950 dark:border-violet-700 focus:outline-none focus:bg-stone-300 dark:focus:bg-stone-700;
  }
  .animate-load {
    @apply relative animate-pulse inline-block px-4 py-2 font-medium transition-transform duration-500 ease-in-out text-center; /* Added to ensure proper stacking context */
  }

  .animate-load span.bg-overlay {
    @apply absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0 dark:bg-violet-700;
  }

  .animate-load span.bg-border {
    @apply absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black dark:bg-violet-300 dark:group-hover:bg-violet-700;
  }

  .animate-load p {
    @apply relative text-black group-hover:text-white;
  }
}

/* .scroll-container {
  overflow-y: scroll;
  max-height: 300px;
} */

/* Personalización de la barra de desplazamiento */
/* .scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #7f7f7f;
}

.dark .scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(109 40 217);
}

.dark .scroll-container::-webkit-scrollbar-track {
  background-color: rgb(196 181 253);
} */
