@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contact-inputs {
    @apply border-2 rounded-sm dark:bg-transparent border-stone-950 dark:border-violet-700 focus:outline-none focus:bg-stone-300 dark:focus:bg-stone-700;
  }
}

/* .scroll-container {
  overflow-y: scroll;
  max-height: 300px;
} */

/* Personalización de la barra de desplazamiento */
/* .scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #7f7f7f;
}

.dark .scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(109 40 217);
}

.dark .scroll-container::-webkit-scrollbar-track {
  background-color: rgb(196 181 253);
} */
