@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contact-inputs {
    @apply border-2 rounded-sm dark:bg-transparent border-stone-950 dark:border-violet-700 focus:outline-none focus:bg-stone-300 dark:focus:bg-stone-700;
  }
  .animate-load {
    @apply relative animate-pulse inline-block px-4 py-2 font-medium transition-transform duration-500 ease-in-out text-center; /* Added to ensure proper stacking context */
  }

  .animate-load span.bg-overlay {
    @apply absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0 dark:bg-violet-700;
  }

  .animate-load span.bg-border {
    @apply absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black dark:bg-violet-300 dark:group-hover:bg-violet-700;
  }

  .animate-load p {
    @apply relative text-black group-hover:text-white;
  }
}

/* .scroll-container {
  overflow-y: scroll;
  max-height: 300px;
} */

/* Personalización de la barra de desplazamiento */
/* .scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #7f7f7f;
}

.dark .scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(109 40 217);
}

.dark .scroll-container::-webkit-scrollbar-track {
  background-color: rgb(196 181 253);
} */

:root {
  --scrollbarBG-light: #333;
  --thumbBG-light: #7f7f7f;
  --scrollbarBG-dark: rgb(
    196 181 253
  ); /* Color oscuro de la pista del scrollbar en modo oscuro */
  --thumbBG-dark: rgb(
    109 40 217
  ); /* Color oscuro del pulgar del scrollbar en modo oscuro */
}

/* Estilos del scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG-light) var(--scrollbarBG-light);
}

/* Estilos específicos del pulgar del scrollbar */
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG-light);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG-light);
}

/* Estilos específicos de la pista del scrollbar */
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG-light);
}

/* Estilos específicos del pulgar del scrollbar en modo oscuro */
.dark body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG-dark);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG-dark);
}

/* Estilos específicos de la pista del scrollbar en modo oscuro */
.dark body::-webkit-scrollbar-track {
  background: var(--scrollbarBG-dark);
}

.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  padding-left: 6%;
  animation: marquee 5s linear infinite; /* Ajusté la duración a 5 segundos para que sea más evidente */
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/*Start Animations*/
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
