/* .moving-text-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.moving-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  animation: moveLeft 15s linear infinite;
}

.moving-text-2 p {
  animation-delay: 2.5s;
}

@keyframes moveLeft {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
} */

.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  padding-left: 6%;
  animation: marquee 5s linear infinite; /* Ajusté la duración a 5 segundos para que sea más evidente */
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
